<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Only</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <!-- Footer Start -->
  <footer class="footer mt-auto">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 p-0 footer-copyright">
          <p class="mb-0">Copyright 2024 © Zono theme by pixelstrap.</p>
        </div>
        <div class="col-md-6 p-0">
          <p class="heart mb-0">Hand crafted &amp; made with
            <svg class="footer-icon">
              <use href="{% static 'svg/icon-sprite.svg#heart' %}"></use>
            </svg>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->

  <!-- Scripts -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
