<!-- Page Header Start-->
{% load static %}
<div class="page-header">
    <div class="header-wrapper row m-0">
        <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper">
                <a href="{% url 'index' %}">
                    <img class="img-fluid for-light" src="{% static 'images/logo/logo.png' %}" alt="">
                    <img class="img-fluid for-dark" src="{% static 'images/logo/logo.png' %}" alt="">
                </a>
            </div>
            <div class="toggle-sidebar">
                <svg class="sidebar-toggle">
                    <use href="{% static 'svg/icon-sprite.svg#stroke-animation' %}"></use>
                </svg>
            </div>
        </div>
        <form class="col-sm-4 form-inline search-full d-none d-xl-block" action="#" method="get">
            <div class="form-group">
                <div class="Typeahead Typeahead--twitterUsers">
                    <div class="u-posRelative">
                        <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Type to Search .." name="q" title="" autofocus>
                        <svg class="search-bg svg-color">
                            <use href="{% static 'svg/icon-sprite.svg#search' %}"></use>
                        </svg>
                    </div>
                    <div class="Typeahead-menu"> </div>
                </div>
            </div>
        </form>
        <div class="nav-right col-xl-8 col-lg-12 col-auto pull-right right-header p-0">
            <ul class="nav-menus">
                <li class="serchinput">
                    <div class="serchbox">
                        <svg>
                            <use href="{% static 'svg/icon-sprite.svg#search' %}"></use>
                        </svg>
                    </div>
                    <div class="form-group search-form">
                        <input type="text" placeholder="Search here...">
                    </div>
                </li>
                <li class="onhover-dropdown">
                    <div class="notification-box">
                        <svg>
                            <use href="{% static 'svg/icon-sprite.svg#Bell' %}"></use>
                        </svg>
                    </div>
                    <div class="onhover-show-div notification-dropdown">
                        <h6 class="f-18 mb-0 dropdown-title">Notifications</h6>
                        <div class="notification-card">
                            <ul>
                                <!-- Notification items -->
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="language-nav">
                    <div class="translate_wrapper">
                        <div class="current_lang">
                            <div class="lang"><i class="flag-icon flag-icon-gb"></i><span class="lang-txt">EN</span></div>
                        </div>
                        <div class="more_lang">
                            <div class="lang selected" data-value="en"><i class="flag-icon flag-icon-us"></i><span class="lang-txt">English<span> (US)</span></span></div>
                            <div class="lang" data-value="cn"><i class="flag-icon flag-icon-cn"></i><span class="lang-txt">简体中文</span></div>
                        </div>
                    </div>
                </li>
                <li class="profile-nav onhover-dropdown pe-0 py-0">
                    <div class="d-flex align-items-center profile-media">
                        <img class="b-r-25" src="{% static 'images/dashboard/profile.png' %}" alt="">
                        <div class="flex-grow-1 user">
                            {% if user.is_authenticated %}
                                <span>{{ user.username }}</span>
                                <p class="mb-0 font-nunito">Logged in as {{ user.username }}</p>
                            {% else %}
                                <span>Guest</span>
                                <p class="mb-0 font-nunito">Not logged in</p>
                            {% endif %}
                            <svg>
                                <use href="{% static 'svg/icon-sprite.svg#header-arrow-down' %}"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div">
                        {% if user.is_authenticated %}
                            <li><a href="{% static 'template/user-profile.html' %}"><i data-feather="user"></i><span>Account</span></a></li>
                            <li><a href="{% static 'template/letter-box.html' %}"><i data-feather="mail"></i><span>Inbox</span></a></li>
                            <li><a href="{% static 'template/task.html' %}"><i data-feather="file-text"></i><span>Taskboard</span></a></li>
                            <li><a href="{% url 'edit-profile' %}"><i data-feather="settings"></i><span>Settings</span></a></li>
                            <li><a href="{% url 'logout' %}"><i data-feather="log-out"></i><span>Log out</span></a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}"><i data-feather="log-in"></i><span>Log in</span></a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Header Ends-->
