<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
  </head>
  <body>
    <!-- 顶部显示通知 -->
    {% if messages %}
    <div class="notifications">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %} 
    
    <!-- 根据用户的会员状态判断显示不同的模板 -->
    {% if request.user.profile.member == 0 %}
        {% include 'subscribe.html' %}
    {% else %}
        {% include 'base.html' %}
    {% endif %}
    
    <!-- latest jquery-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- 其他 JS 和资源 -->
  </body>
</html>
